# Created by https://www.gitignore.io/api/haskell

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.ghci
.stack-work/
_cache/
_site/

### Vim ###
*.swp
*.swo

### Other ###
images/*
*.pdf
*.png
.idea/
